<table class='table'>
      <tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr> 
      <tr>
    	  <th>name</th>
    	  <th><%= user.name %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th><%= user.introduction %></th>
      </tr>
      <tr> 
        <th>フォロー中</th>
        <th>
          <%= link_to followings_user_path(user) do %>
            <%= user.followings.count %>人
          <% end %>
        </th>
      </tr>
      <tr> 
        <th>フォロワー</th>
        <th>          
          <%= link_to followers_user_path(user) do %>
            <%= user.followers.count %>人
          <% end %>
        </th>
      </tr>
      <% unless current_user == user %>
        <tr>
          <th>
            <% if current_user.following?(user) %>
              <%= link_to user_relationships_path(user), method: :delete, class:"btn btn-default" do %>
              フォローを外す
              <% end %>
<<<<<<< HEAD
              
              <%#= チャット機能実装 %>
              <%#= link_to "チャットを始める", chat_path, class: "btn btn-success" %>
=======
              <%= link_to "chatを始める", chat_path(user.id) %>
>>>>>>> 99c9a39da7c049c7be5e531241cf901753018165
            <% else %>
              <%= link_to user_relationships_path(user), method: :post, class:"btn btn-primary" do %>
              フォローする
              <% end %>
            <% end %>
          </th>
        </tr>
      <% end %>
</table>

<div class='row'>
  <%= link_to '',edit_user_path(user),class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
</div>